@import "tailwindcss/base";

@import "tailwindcss/components";

// Fonts
@import "fonts";

body {
  @apply font-body;
  font-size: 16px;
  width: 480px;

  @media (prefers-color-scheme: dark) {
    * {
      & {
        :not(.dropdown)
        :not(.form-checkbox) {
          color: #A2A2A4;
        }
      }
    }
    background-color: #4A4A4F;
  }
}

.text-gray-700 {
  @media (prefers-color-scheme: dark) {
    color: #F9F9FA !important;
  }
}

@import "vue-single-select";

@import "tailwindcss/utilities";

