@import "tailwindcss/base";

@import "tailwindcss/components";

// Fonts
@import "fonts";

body {
  @apply font-body;
  font-size: 16px;

  @media (prefers-color-scheme: dark) {
    * {
      color: #A2A2A4;
    }
    background-color: #2A2A2E;
  }
}

@import "termania_xml";

.logo {
  &:hover {
    opacity: .8;
  }
}

.spinner-wrapper {
  min-height: calc(100vh - 41px - 1rem);
}

@import "tailwindcss/utilities";

